<%# Partial：简化代码，可以在View中调用渲染（render） %>

<%# 这是一个不带参数的partial %>
<div>
    <h3>关于Tony</h3>
    <table>
        <tr><th>名</th><td>Tony</td></tr>
        <tr><th>生年月日</th><td>1999年11月9日</td></tr>
        <tr><th>简介</th><td>我叫Tony，今年刚大学毕业开始工作。刚接触Ruby on rails，还不熟练。请多多指教！</td></tr>
    </table>
</div>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>