<h1>德国Apohealth药局TonyRail分局</h1>

<table>
    <tr>
        <th>商品名</th>
        <th>存在？</th>
        <th>价格（€）</th>
        <th>详细</th>
    </tr>

    <%# 从数据库中逐条生成要素 %>
    <% @apohealths.each do |apohealth| %>
        <tr>
            <td><%= apohealth.title %></td>

            <% if apohealth.existence == true %>
                <td>是</td>
            <% else %>
                <td>否</td>
            <% end %>

            <td><%= apohealth.price_eu %></td>
            <td>
                <a href="<%= "/apohealths/#{apohealth.id}" %>">详细</a>
            </td>
        </tr>
    <% end %>
</table>

<%= render :partial => 'style' %>
